body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-image: url(https://i.imgur.com/rXuzGEk.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f0f0f0;
}

#bacatte-container{
    display: flex;
    height: 50px;

}
#container{
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 1rem;
    height: 90vh;    height: 100vh;

}

button{
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #333333;
    color:white;
    font-family: Montserrat, sans-serif;
}body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(33,33,33,0.5);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #a87a23;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  a{
   
    color:rgb(255, 246, 192);
font-family: Consolas, monospace;
font-size: 1.25rem;
}